// =====================
// Site Color Variables
// =====================
// Edit these to change the entire site's color scheme.

// Background
$color-bg:          #282f3a;

// Text
$color-text:        #c5ccce;
$color-heading:     #dcdede;

// Accent
$color-accent:      #D3EB32;

// Links / Secondary
$color-link:        #7e92a2;
